force-app/sms/flows/Test_SMS_Callout.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>SetInputParameters</name>
        <label>SetInputParameters</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>SMSRecord.Recipient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mottaker</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSRecord.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Melding</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manually Created</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSRecord.Domain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Domain</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateSMSRecord</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>HOT</name>
        <choiceText>HOT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HOT</stringValue>
        </value>
    </choices>
    <choices>
        <name>NKS</name>
        <choiceText>NKS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NKS</stringValue>
        </value>
    </choices>
    <interviewLabel>Test SMS Callout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test SMS Callout</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateSMSRecord</name>
        <label>CreateSMSRecord</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <inputReference>SMSRecord</inputReference>
    </recordCreates>
    <screens>
        <name>SMS</name>
        <label>SMS</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SetInputParameters</targetReference>
        </connector>
        <fields>
            <name>Domain</name>
            <choiceReferences>HOT</choiceReferences>
            <choiceReferences>NKS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Domain</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mottaker</name>
            <dataType>String</dataType>
            <fieldText>Mottaker</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Melding</name>
            <dataType>String</dataType>
            <fieldText>Melding</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SMS</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>inputParam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SMSRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SMS__c</objectType>
    </variables>
</Flow>
