force-app/sms/flows/Test_SMS_Callout.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Test_SMS_Callout</name>
        <label>Test SMS Callout</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>TestSMSCallout</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>RCV_TXT</name>
            <value>
                <elementReference>inputParam</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>SetInputParameters</name>
        <label>SetInputParameters</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>inputParam</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Mottaker</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputParam</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> _ </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inputParam</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Melding</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Test_SMS_Callout</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Test SMS Callout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test SMS Callout</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>SMS</name>
        <label>SMS</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SetInputParameters</targetReference>
        </connector>
        <fields>
            <name>Mottaker</name>
            <dataType>String</dataType>
            <fieldText>Mottaker</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Melding</name>
            <dataType>String</dataType>
            <fieldText>Melding</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SMS</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inputParam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
